/* from classic for syntax */
$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }
