<link rel="license" type="text/html" href="http://creativecommons.org/licenses/by/4.0/">

{% if page.bootstrap_theme_url %}
  <link href="{{ page.bootstrap_theme_url }}" rel="stylesheet" type="text/css">
{% else %}
  <link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
{% endif %}

<script src="{{ root_url }}/javascripts/libs/jquery/jquery-2.0.3.min.js"></script>
