<a id="fork-me-on-github-ribbon" href="https://github.com/kAworu/octostrap3.git">
  <img class="gh-ribbon" src="{{ root_url }}/images/forkme_right_blue_3276b1.png" alt="Fork me on GitHub">
</a>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ root_url }}/">{{ site.title }}</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.navbar == 'Blog' %}class="active"{% endif %}>
                    <a rel="index" href="{{ root_url }}/">Blog</a>
                </li>
                <li {% if page.navbar == 'Archives' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/blog/archives">Archives</a>
                </li>
                <li {% if page.navbar == 'Setup' %}class="active"{% endif %}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{{ root_url }}/setup/install">Installation</a>
                        <a href="{{ root_url }}/setup/octopatch">Plugins integration</a>
                        <a href="{{ root_url }}/setup/pick-a-theme">Pick a theme</a>
                      </li>
                    </ul>
                </li>
                <li {% if page.navbar == 'About' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/about">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="subscribe-rss" href="{{ site.subscribe_rss }}" title="subscribe via RSS">
                        <span class="visible-xs">RSS</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/rss.png" alt="RSS">
                    </a>
                </li>
                {% if site.subscribe_email %}
                <li>
                    <a class="subscribe-email" href="{{ site.subscribe_email }}" title="subscribe via email">
                        <span class="visible-xs">Email</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/email.png" alt="Email">
                    </a>
                </li>
                {% endif %}
                <li id="fork-me-on-github-logo-wrapper">
                    <a href="https://github.com/kAworu/octostrap3.git" title="Fork me on GitHub">
                        <span class="visible-xs">GitHub</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/GitHub-Mark.png" alt="GitHub">
                    </a>
                </li>
            </ul>
            {% if site.simple_search %}
                <form class="search navbar-form navbar-right" action="{{ site.simple_search }}" method="GET">
                    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
                    <div class="form-group">
                        <input class="form-control" type="text" name="q" placeholder="Search">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
