<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" title="toggle navbar" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ root_url }}/">{{ site.title }}</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.navbar == 'Blog' %}class="active"{% endif %}>
                    <a rel="index" href="{{ root_url }}/">Blog</a>
                </li>
                <li {% if page.navbar == 'Archives' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/blog/archives">Archives</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if site.simple_search %}
                    <li>
                        <form class="search navbar-form navbar-right" action="{{ site.simple_search }}" method="GET">
                            <input type="hidden" name="sitesearch" value="{{ site.url | shorthand_url }}">
                            <div class="form-group">
                                <input class="form-control" type="text" name="q" placeholder="Search">
                            </div>
                        </form>
                    </li>
                {% endif %}
                <li>
                    <a class="subscribe-rss" href="{{ site.subscribe_rss }}" title="subscribe via RSS">
                        <span class="visible-xs">RSS</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/rss.png" alt="RSS">
                    </a>
                </li>
                {% if site.subscribe_email %}
                <li>
                    <a class="subscribe-email" href="{{ site.subscribe_email }}" title="subscribe via email">
                        <span class="visible-xs">Email</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/email.png" alt="Email">
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
