#archive {
  #content > div { &, > article { padding-top: 0; } }
}
#blog-archives {
  article {
    margin-top: inherit;
    margin-bottom: inherit;
    padding: 1em 0 1em;
    position: relative;
    &:last-child {
      background: none;
    }
  }
  h1 { margin-bottom: .3em; }
  h2 {
    border: none;
    display: none;
  }
  h1 {
    a {
      font-weight: normal;
      display: inline-block;
    }
  }
  .entry-content { display: none; }
  time {
    .month, .day { display: inline-block; }
    .month { text-transform: uppercase; }
  }
  @media only screen and (min-width: 768px) {
    article { margin-left: 7em; }
    h2 {
      float: left;
      margin-top: 1.8em;
      font-weight: normal;
      display: inline-block;
      position: relative;
    }
    .year { display: none; }
    article {
      padding:{bottom: .7em;}
    }
  a.category {
    line-height: 1.1em;
    }
  }
}
#content > .category {
  article {
    margin-left: 0;
    padding-left: 6.8em;
  }
  .year { display: inline; }
}
