---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pager">
    <a class="previous {% if paginator.next_page == false %} disabled{% endif %}" href="{{paginator.next_page}}">&larr; Older</a>
    <a href="/blog/archives">Blog Archives</a>
    <a class="next{% if paginator.previous_page == false %} disabled{% endif %}" href="{{paginator.previous_page}}">Newer &rarr;</a>
  </div>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
