/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}

/* fork me on github ribbon */
#fork-me-on-github {
    /* bellow 1440~ the ribbon goes over the RSS link :( */
    display: none;
    @media only screen and (min-width: 1440px) {
        display: block;
    }
    z-index: 1001;
    .gh-ribbon {
        z-index: 1001;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
    }
}

/* what is octostrap3 panel */
$bs3-color: #573d7d;
$octo-color: #efa400;
#what-is-octostrap3 {
    &, h3 {
        color: white;
    }
    a {
        color: $octo-color;
        &:hover { color: lighten($octo-color, 12%); }
    }
    .panel-heading, & {
        border-color: $bs3-color;
        background-color: lighten($bs3-color, 18%);
    }
    background: url(../images/bs3-background.png) repeat-y center center fixed;
    @include background-size(cover);
    .btn {
        font-weight: bold;
        background-color: lighten($bs3-color, 18%);
        color: $octo-color;
        border-color: darken($octo-color, 12%);
        @include transition(color 0.2s ease-in ease-out, background-color 0.2s ease-in ease-out);
        &:hover {
            color: $bs3-color;
            background-color: $octo-color;
        }
    }
    .octostrap3-logo {
        max-width: 100%;
        width: 389px;
        margin: 0 auto 0.6em;
        display: block;
    }
}
