h1, h2, h3 {
    margin-top: 32px;
    margin-bottom: 12px;
    font-weight: bold;
    line-height: 1.3;
}

h4, h5, h6 {
    line-height: 1.3;
}

.entry-content {
    font-size: 14px;
    @media only screen and (min-width: 768px) {
        font-size: 16px;
    }
}

q {
    font-style: italic;
    &:before {
        content: "\201C";
    }
    &:after {
        content: "\201D";
    }
}

// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html
